<div style="width: 80%;">
  <h1 id="tableLabel">Book Library Manager</h1>
  <p *ngIf="!books"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
  <button type="button" (click)="addBookButton()">Add</button>
  <button type="button" (click)="rmBookButton()">Remove</button>
  <table *ngIf="books" style="margin: 20px 0">
      <thead>
          <tr>
              <th></th>
              <th>bookid</th>
              <th>Name</th>
              <th>Description</th>
              <th>Author</th>
              <th>Created Date</th>
          </tr>
      </thead>
      <tbody #tableBookBody>
          <tr *ngFor="let book of books">
              <td #rowInputBox><input type="checkbox"></td>
              <td>{{ book.bookid }}</td>
              <td>{{ book.name }}</td>
              <td>{{ book.description }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.createdDate }}</td>
          </tr>
      </tbody>
  </table>
  <dialog #infoBox>
    <button (click)="closeModal($event)">X</button>
    <p #infoMsg></p>
  </dialog>
</div>
